language: python
cache: pip
python:
  - "3.4"
install:
  - "pip install homeassistant"
  - "bash $TRAVIS_BUILD_DIR/bin/dummy_secrets.sh"
script: "bash $TRAVIS_BUILD_DIR/bin/check_config.sh"
notifications:
  email: false
